<!-- <ul class="list-group">
    <li class="list-group-item">{{itemsList}}</li>
  </ul>
<button (click)="addItems()" class="btn btn-primary">Click to add item!</button>
<button (click)="addItemsChange()" class="btn btn-primary">Click to change item!</button> -->
<app-header></app-header>
<app-shared></app-shared>
<!-- <h2 class="text-center">Button Couter</h2>
<div class="p-3 bg-primary text-light text-center">{{counter}}</div>
<p class="p-3 text-danger">{{warning}}</p>
<button class="btn btn-primary" (click)="incrementCount()">+</button>
<button class="btn btn-danger" (click)="decrementCount()">-</button> -->

<input type="text" [(ngModel)]="username">
<div>{{username}}</div>
<div>{{username}}</div>
<div>{{username}}</div>

<app-footer></app-footer>